$amp: ".b-test";

#{$amp} {
    &--highlight {
        background: #ccc;
    }
    &--highlight_red {
        background: #f00;
    }
    &--highlight_green {
        background: #0f0;
    }
    &--highlight_blue {
        background: #00f;
    }
}
